rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'sungals@gmail.com';
    }

    match /notices/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
